<div class="arrow__container__footer">
        <a href="#">
          <img class="arrow-image" src="../../assets/images/ico-arrow.svg" alt="arrow scroll up">
        </a>
      </div>

<footer class="foo__container"> 

        <div class="div_links">

                <ul class="foo__ul-links">
                        <li class="foo__li">
                            <a class="foo__a"
                            href="#">
                            Articles</a>
                        </li>
                        <li class="foo__li">
                            <a class="foo__a" 
                            href="#">
                            Books</a>
                        </li>
                        <li class="foo__li">
                            <a class="foo__a" 
                            href="#">
                            Events</a>
                        </li>
                        <li class="foo__li">
                            <a class="foo__a" 
                            href="#">
                            Reasons</a>
                        </li>
                        <li class="foo__li">
                            <a class="foo__a" 
                            href="#">
                            Tips</a>
                        </li>
                </ul>
            </div>
    
            <div class="div_social">
    
                <ul class="foo__ul-links">
                    <li class="foo__li">
                        <a class="foo__a" href="#">
                            Twitter</a>
                    </li>
                    <li class="foo__li">
                        <a class="foo__a" href="#">
                            Instagram</a>
                    </li>
                    <li class="foo__li">
                        <a class="foo__a" href="#">
                            Mastodon.social</a>
                    </li>
                </ul>
            </div>  
    
            <div class="div_brand">
                
                <small class="foo__a">
                        &copy 2017</small>
                    <div>
                        <small class="foo__a">
                        we ❤︎ </small>

                        <small class="foo__a components">
                              components</small>
                    </div>
          
            </div>
                
     
           
</footer>