<footer>
    <div class="foo__container">
        <ul class="foo__ul-links">
            <li class="foo__li-links">
                <a class="foo__a" href="#">Articles</a>
            </li>
            <li class="foo__li-links">
                <a class="foo__a" href="#">Books</a>
            </li>
            <li class="foo__li-links">
                <a class="foo__a" href="#">Events</a>
            </li>
            <li class="foo__li-links">
                <a class="foo__a" href="#">Reasons</a>
            </li>
            <li class="foo__li-links">
                <a class="foo__a" href="#">Tips</a>
            </li>
        </ul>
        <ul class="foo__ul-social">
            <li class="foo__li-social">
                <a class="foo__a" href="#">Twitter</a>
            </li>
            <li class="foo__li-social">
                <a class="foo__a" href="#">Instagram</a>
            </li>
            <li class="foo__li-social">
                <a class="foo__a" href="#">Mastodon.social</a>
            </li>
        </ul>

        <div class="foo__brand-container">
            <p class="foo__copy">&copy 2017</p>
            <p class="foo__claim">we ❤︎ components</p>
        </div>
    </div>
</footer>