<section class="wrapper">

    <div class="header">
        <h2 class="reasons-to-purchase">3 Reasons To Purchase</h2>
   
                <div class="list-of-reasons">
                   
                        <h3 class="ut-sed-metus">Ut sed metus</h3>
                        <p >Lorem ipsum dolor sit amet, consecteur.</p>
                    
                  
                        <h3 class="curabitur-ac-erat">Curabitur ac erat</h3>
                        <p>Mauris mattis urna quis lorem molestie.</p>
                    
             
                        <h3 class="morbi-dictum">Morbi dictum</h3>
                     <p>Aliquam in dolor et dolor tincidunt.</p>
               
                </div>

                <button class="more-reasons__button">
                    More reasons
                </button>
    </div>  


        <div class="s2__arrow-container"> 
                <a href="#"><img class="s2__arrow-image" src="../assets/images/ico-scroll-down.svg" alt="arrow scroll down"> </a> 
          </div>

    </section>