<div class="wrapper">

    <div class="tittle__container">
        <h2 classs="tittle_reason">
            3 Reasons To Purchase
        </h2>
    </div>

    <div class="list__container">
        <ul class="list">
            <li class="list-item">
                <h4 class="item-tittle">
                    Ut sed metus
                </h4>
                <p class="item-paragraph">
                    Lorem ipsum dolor sit amet,consecteur.
                </p>
            </li>

            <li class="list-item">
                <h4 class="item-tittle">
                    Curabitur ac erat
                </h4>
                <p class="item-paragraph">
                    <style> font-weight normal;
                    </style>
                    Mattis urna quis lorem molestie.
                </p>
            </li>

            <li class="list-item">
                <h4 class="item-tittle">
                    Morbi dictum
                </h4>
                <p class="item-paragraph">
                   Aliquam in dolor et dolor tincidunt.
                </p>
            </li>
        </ul>
    </div>
    <div class="button__div"> 
        <div class="button__container">
            <button class="button">More reasons</button>
        </div>
    </div>
</div>