<aside>
    <section class="s2__container">
        <h2 class="s2__h2">3 Reasons To Purchase</h2>
        <ul class="s2__ul">
            <li class="s2__li"> 
                <h3 class="s2__h3"> class>Ut sed metus</h3>
                <p class="s2__p">Lorem ipsum dolor sit amet, consecteur.</p>
            </li>
            <li class="s2__li"> 
                <h3 class="s2__h3">Curabitur ac erat</h3>
                <p class="s2__p">Mauris mattis urna quis lorem molestie.</p>
                </li>
            <li class="s2__li"> 
                <h3 class="s2__h3">Morbi dictum</h3>
                <p class="s2__p">Aliquam in dolor et dolor tincidunt.</p>
            </li>
        </ul>
        <button class="s2__button">
            More reasons
        </button>
        <div class="s2__arrow-container"> 
                <a href="#"><img class="s2__arrow-image" src="../assets/images/ico-scroll-down.svg" alt="arrow scroll down"> </a> 
          </div>

    </section>
</aside>