<div id="section1" class="section1__div">
  <section class="section1__container">

        <h2 class="insomnia__item">
          Insomnia tips
        </h2>

        <h3 class="looking__item">
          Looking through a window
        </h3>

        <p class="looking__paragraph">
          Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
        </p>

        <button class="section1__button-container">
          Go
        </button>

  </section>
</div>
