<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Anonymus Proxy</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
</head>


<body>
  <!-- HEADER -->
  <partial src="_header.html" label="Header"></partial>

  <!-- MAIN -->
  <main>
      <partial src="_hero.html"></partial>
      <partial src="_section1.html"></partial>
      <partial src="_section2.html"></partial>
  </main>
  

  <!-- FOOTER -->
  <partial src="_footer.html"></partial>


</body>
</html>
