
.hero__container {
    min-width: 100vw;
    background: url("../images/cover.jpg") 
    no-repeat center center;
    background-size: cover;
    max-width: 320px;
    width: 320px;
    height: 568px;
    min-height: 100vh;

    & .hero__image {
        min-height: 120px;
        width: 290px;
        height: 110px;
        color: white;
        cursor: none;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.anonymus__container {
    text-align: center;
    width: 100%;
    background-blend-mode: multiply;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5),var(--color_black));
    padding: 284px 15px 174px 15px;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  

    & .anonymus__h1 {
        min-height: 120px;
        width: 290px;
        height: 110px;
        color: white;
        cursor: none;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 42px;
    }
}

.habitasse__container {
    display: flex;
    text-align: center;
}
.habitasse {
    width: 290px;
    height: 21px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.arrow__container {
    content: "";
    border-radius: 30px;
    background-color:$color_whiteSnow;;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 130px;
    top: 82%;
  }
  
.arrow-image {
    width: 35px;
    height: 35px;
    margin-left: 8px;
    margin-top: 2px;
    size: auto;
    border-radius: 22.5px;
    background-color:$color_whiteSnow;
    transform: translateX(6px);
    transform: translateY(8px);

}