.s1__container {
    height: 376px;
    background-color: blue;
}

.s1__h2 {
    width: 90px;
    height: 30px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: var(color_lightBlue);         
}

.s1__p{

}

.s1__button{

}