.wrapper {
  width: 100vw;
  max-height: 624px;
  background-color: $color_iceBlue;
  display: grid;
  grid-template-columns: 624px;
  grid-template-rows: 124.8px 374.4px 124.8px;
  grid-template-areas:"top""center""bottom";
}

.header {
   grid-area: top;
}

.reasons-to-purchase {
   width: 290px;
   height: 30px;
   font-family: RobotoSlab;
   font-size: 24px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.25;
   letter-spacing: normal;
   text-align: center;
   color: $color_blackNight;
   margin: 30px 15px 564px 15px;
}

.list-of-reasons {
   margin: 0px;
   padding: 0px;
   grid-area: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.items {
   margin: 0px;
   padding: 0px;
}

.ut-sed-metus {
   width: 184px;
   height: 30px;
   font-family: RobotoSlab;
   font-size: 18px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.67;
   letter-spacing: normal;
   text-align: center;
   color: $color_blackNight;
   margin: 105px 68px 469px 68px;
   grid-area: 2;
}

.curabitur-ac-erat {

}

.morbi-dictum {
}

.more-reasons__button{
   grid-area: bottom;
}