.section1__div {
    min-width: 100%;
    display: block;
    text-align: center;
    margin: 0%;
}
.section1__container {
    width: 100%;
    height: 376px;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: capitalize;   
    margin: 30px 215px 316px 0px;   

        @media all and (min-width:768px) {
            min-width: 216px auto;
            height: 30px;  
            margin: 30px 513px 270px 0px;
        }
  
        @media all and (min-width:1200px) {
            min-width: 730px auto;
            height: 45px;  
            margin: 90px 275px 225px 275px;
        }
}

.insomnia__item {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: $color_lightBlue;   
    text-transform: capitalize;   
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;  
    width: 100%;
    height: 30px;
    margin: 30px 215px 0px 0px; 

    @media all and (min-width:768px) {
        min-width: 216px auto;
        height: 30px;  
        margin: 30px 0px 0px 39px;
        padding-left: 0%;
        padding-bottom: 0%;
        margin-bottom: 0%;
    }

    @media all and (min-width:1200px) {
        min-width: 360px auto;
        height: 30px;  
        margin: 0px 645px 0px 0px;
    }
}


.looking__item {
    font-family: RobotoSlab;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: $color_blackNight; 
    width: 100%;
    display: flex;
    align-items: flex-start;   
    justify-content: flex-start;
    margin-left: 0%;
    padding-left: 0%;
    margin-top: 0%;
    padding-top: 0%;
    padding-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;

    @media all and (min-width:768px) {
        min-width: 216px auto;
        height: 30px;  
        margin-left: 0%;
        padding-left: 0%;
        margin: 1px 0px 0px 39px;
        padding-top: 0%;

    }
    
    @media all and (min-width:1200px) {
        max-width: 650px auto;
        height: 45px;  
        margin: 0px 0px 0px 275px;
        margin-left: 0%;
        padding-left: 0%;

    
    }
    
}

.looking__paragraph {
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: $color_greySilver;
    margin-left: 0%;
    padding-left: 0%;
    margin-top: 0%;
    padding-top: 15px;
    width: 100%;
    height: 120px;
    display: block;
    text-align: left;

    @media all and (min-width:768px) {
        
        max-width: 690px;
        margin-left: 39px;
        padding-left: 0%;
       
        margin-right: 39px;
        padding-right: 0%;
       
        margin-top: 30px;
        padding-top: 0%;

        
    }
    
    @media all and (min-width:1200px) {
        margin-left: 0%;
        padding-left: 0%;
       
        margin-top: 0%;
        padding-top: 0%;

    
    }
}

.section1__button-container {
    color: $color_orangeBright;
    width: 74px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px $color_orangeBright;
    transform: translateX(40px);
    transform: translateY(45px);
    background-color: transparent;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
