
.page {
    min-height: 100vh;
    min-width: 100vw;
    background: url("../images/cover.jpg") 
    no-repeat center center fixed;
    background-size: cover;
    max-width: 320px;
    max-height: 568px;
  }
.content {
    text-align: center;
    width: 100%;
    background-blend-mode: multiply;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5),var(--color_black));
}
.h2 {
    color: white;
    background-color:transparent;
    width: 100vw;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    transform: translateY(-400px);
    height: 21px;
}
.h1 {
    padding: 284px 15px 174px 15px;
    margin: 0%;

.h1-a {
        min-height: 120px;
        width: 290px;
        height: 110px;
        color: white;
        cursor: none;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        padding-right: 15px;
        padding-left: 15px;
    }


}